
Rust/fannkuch-redux-rust/.vs/fannkuch-redux-rust/FileContentIndex/76284cca-aade-4a75-92fd-6db57129ef78.vsidx
Rust/fannkuch-redux-rust/.vs/fannkuch-redux-rust/FileContentIndex/read.lock
Rust/fannkuch-redux-rust/.vs/fannkuch-redux-rust/v17/.wsuo
Rust/fannkuch-redux-rust/.vs/slnx.sqlite
Rust/fannkuch-redux-rust/.vs/VSWorkspaceState.json
Rust/binary-tree-rust/.vs/slnx.sqlite
Rust/binary-tree-rust/.vs/binary-tree-rust/FileContentIndex/read.lock
Rust/binary-tree-rust/.vs/binary-tree-rust/FileContentIndex/98b4e8a7-4522-4768-b0f1-641b61210c93.vsidx
Rust/binary-tree-azure-function/package-lock.json
Rust/binary-tree-rust/.vs/binary-tree-rust/FileContentIndex/580db95c-21d1-493a-b0f9-da03b976b85d.vsidx
